.about-us {
  padding: 80px 28px 70px 28px;
  background-image: url('..//images/svg/bg-about.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondaryTextColor;
  &__title {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__item {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}
