.about-us {
  padding: 80px 0px 70px 0px;
  background-image: url('..//images/svg/bg-about.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondaryTextColor;
  &__title {
    margin-bottom: 25px;
    font-weight: 800;
  }
  &__list {
    width: 270px;
    margin-left: auto;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__icon {
    position: absolute;
    left: -40px;
  }
}
