.section-accumulation {
  display: flex;
  justify-content: center;
  &__title {
    margin-bottom: 20px;
  }
  &__list {
    width: 300px;
  }
  &__item {
    text-align: center;
    margin-bottom: 20px;
  }
  &__box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  &__caption {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  &__btn {
    width: 230px;
    padding: 14px 33px;
    background-color: $accentColor;
    color: $secondaryTextColor;

    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
  }
  @media screen and(min-width:1200px) {
    &__title {
      margin-bottom: 75px;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      margin: -30px;
    }
    &__item {
      width: 275px;
      text-align: center;
      margin: 15px;
    }
    &__btn {
      width: 400px;
      margin-top: 75px;
    }
  }
}
