.section-advantages {
  &__title {
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -30px;
    margin-bottom: 0px;
  }
  &__item {
    position: relative;
    margin: 15px;
    width: 150px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;

    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(232.05deg, #ffdddf 23.86%, #55e1f4 73.65%);
    opacity: 0.5;
  }

  &__icon {
    fill: #32a3c7;
    // fill: linear-gradient(90deg, #61c1d7 0%, #32a3c7 99.99%);
    // opacity: 1;
  }

  &__heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
  }

  &__btn {
    margin-top: 25px;
    width: 180px;
    padding: 17px;

    color: $secondaryTextColor;
    background-color: $accentColor;

    text-align: center;
    font-weight: 800;
    font-size: 11px;
    line-height: 1.12;

    box-shadow: 0px 14px 24px rgba(67, 227, 249, 0.4);
  }
}
