.footer {
  // position: absolute;
  margin-top: -60px;
  // left: calc(50% - (50% / 2));

  padding: 40px 25px 30px 35px;
  background-image: url('..//images/svg/bg-footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $secondaryTextColor;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 28px;
  }
  &__web--position {
    width: 70px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    padding: 5px 10px;
    margin-bottom: 13px;
    background-color: $headingColor;
    color: $secondaryTextColor;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
    text-transform: inherit;
  }
  @media screen and(min-width:1200px) {
    position: relative;
    padding: 70px 300px 70px 200px;
    background-image: url('..//images/svg/bg-footer-desk.svg');
    &__logo {
      margin-right: 93px;
      margin-bottom: 30px;

      width: 150px;
      height: 12px;
    }
    &__web--position {
      position: absolute;
      top: 110px;
      right: 300px;

      width: 80px;
    }
    &__btn {
      background-color: $accentColor;
      margin: 0px;
      margin-right: 30px;
      padding: 6px 28px;

      font-size: 12px;
    }
    &__box--position {
      position: relative;
    }
    &__roles {
      display: flex;
      justify-content: start;
      align-items: baseline;
      margin-bottom: 25px;
    }
  }
}

.navigation {
  &__list {
    margin-bottom: 15px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;

    color: $secondaryTextColor;

    @media screen and(max-width:1199px) {
      transition: transform, $primary-animation;

      &:hover,
      &:focus {
        display: block;
        transform: translateX(20px);
      }
    }
  }
  @media screen and(min-width:1200px) {
    &__list {
      display: flex;
    }

    &__item {
      margin: 0px;
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    &__link {
      font-size: 12px;
    }
  }
}

.link-loyalty {
  display: block;
  margin-bottom: 21px;
  color: $secondaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  @media screen and(min-width:1200px) {
    margin-bottom: 0px;
    font-size: 12px;
  }
}
.about-company {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;

  &__text--uppercase {
    font-weight: bold;
    text-transform: uppercase;
  }
  &__text--block {
    @media screen and(max-width: 1199px) {
      display: block;
    }
  }
  &__list {
    margin-top: 15px;
  }
  &__item {
    margin-bottom: 12px;
  }
  &__license {
    text-transform: uppercase;
  }

  @media screen and(min-width:1200px) {
    &__list {
      font-size: 14px;
      line-height: 1.22;
      margin-bottom: 30px;
    }
  }
}

.mobile-hidden {
  @media screen and(max-width: 1199px) {
    display: none;
  }
}
