.header {
  padding: 37px 54px 22px 58px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  z-index: 3;
  margin-left: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  & .icon-menu {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-button {
  transition: fill 250ms $timingFunction;
}

.icon-cross:hover,
.icon-cross:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: $headingColor;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  position: absolute;
  right: 10px;
  // margin-right: 50px;
}

.menu-button.is-open {
  position: absolute;
  right: 0%;
  top: 35px;
}

.menu-button.is-open .icon-menu {
  display: none;
}
.container-header {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.header-nav {
  display: none;
  &__link {
    color: $secondaryTextColor;
    transition: font-weigh 250ms $timingFunction;
    &:hover,
    &:focus {
      font-weight: 900;
    }
  }
  &__list {
    padding-top: 78px;
    margin-bottom: 25px;
    text-align: center;
  }
  &__btn {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.18;
    color: $accentColor;
    text-transform: uppercase;
  }

  &__logo {
    position: absolute;
    left: 18px;
    margin-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    &__logo {
      display: none;
      &--mobile {
        display: none;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      width: 480px;
      padding: 0;
      margin: 0;
      // margin-left: 78px;
    }
    &__item {
      width: 97px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.25;
      text-align: center;
      color: $accentDesctop;
      transition: none;
      transition: color 250ms $timingFunction;
      &:hover,
      &:focus {
        font-weight: 500;
        color: $accentColor;
        &::after {
          content: '';

          display: block;

          height: 1px;
          border-radius: 1px;
          background-color: $accentColor;
        }
      }
    }

    &__btn {
      padding: 20px 17px;
      margin-left: 40px;
      color: $secondaryTextColor;
      background-color: $accentColor;
    }
  }
}

.header-nav.is-open {
  @media screen and (max-width: 1199px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: -16px;
    left: 50%;
    transform: translate(-50%);
    width: 370px;
    padding: 30px 18px;
    background-color: $accentColor;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }

  // & .header-nav__link {
  //   color: $secondaryTextColor;
  //   transition: font-weigh 250ms $timingFunction;
  //   &:hover,
  //   &:focus {
  //     font-weight: 900;
  //   }
  // }
  // & .header-nav__list {
  //   padding-top: 78px;
  //   margin-bottom: 25px;
  //   text-align: center;
  // }
  // & .header-nav__item:not(:last-child) {
  //   margin-bottom: 10px;
  // }
  // & .header-nav__btn {
  //   padding: 12px 9px;
  //   font-weight: 500;
  //   font-size: 11px;
  //   line-height: 1.18;
  //   color: $accentColor;
  //   text-transform: uppercase;
  // }
  // & .header-nav__logo {
  //   position: absolute;
  //   left: 18px;
  //   margin-top: 14px;
  // }
}
