.slider-spend {
  position: relative;

  & .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
    width: inherit !important;
  }

  & .slick-slide {
    display: none;
    animation-name: changeBgColor1;
    animation-duration: 500ms;
    animation-timing-function: $primary-animation;
    animation-iteration-count: 1;

    // animation-name: changeBgColor;
    // animation-duration: 500ms;
    // animation-timing-function: $primary-animation;
    // animation-iteration-count: 1;
  }

  & .slick-slide.slick-active {
    @keyframes changeBgColor1 {
      0% {
        transform: translateX(0%);
        opacity: 1;
      }

      100% {
        transform: translateX(300%);
        opacity: 0;
      }
    }
    display: block;
    animation-name: changeBgColor;
    animation-duration: 500ms;
    animation-timing-function: $primary-animation;
    animation-iteration-count: 1;
    @keyframes changeBgColor {
      0% {
        transform: translateX(-300%);
        opacity: 0;
      }

      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }

  & .slick-slide.slick-cloned {
    display: none;
  }

  & .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    z-index: 15;
    display: flex;
    bottom: 30px;
    @media screen and(min-width:1200px) {
      display: none;
    }
  }

  & .slick-dots li {
    list-style: none;
    margin: 0px 11px;

    &:nth-child(n + 7) {
      display: none;
    }
  }

  & .slick-dots button {
    position: absolute;
    top: 100%;
    padding: 0;
    background-color: #eefeff;
    opacity: 0.3;
    border: none;

    z-index: 10;
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 5px;
    background-image: url(/images/svg/Ellipse.svg);
    background-repeat: no-repeat;
    @media screen and(min-width:1200px) {
      display: none;
    }
  }
  & .slick-dots li.slick-active button {
    background-color: $secondaryTextColor;
    opacity: 0.7;
    top: 100%;
    border: none;
    font-size: 0;
    width: 11px;
    height: 11px;
    background-image: url(/images/svg/Ellipse.svg);
    background-repeat: no-repeat;
  }
  & .slick-arrow {
    display: none;

    @media screen and(min-width:1200px) {
      position: absolute;
      top: 50%;
      font-size: 0;
      width: 146px;
      height: 146px;
      border: none;
      border-radius: 50%;
      background-color: #30e0e9;
    }
  }
  /* Стрелка влево */
  & .slick-arrow.slick-prev {
    left: -180px;

    background-image: url(/images/svg/Vector1.svg);
    background-repeat: no-repeat;
    background-size: 34px 74px;
    background-position: center;
    transition: transform, $timingFunction;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.25);
    }
  }
  /* Стрелка вправо */
  & .slick-arrow.slick-next {
    right: -280px;

    background-image: url(/images/svg/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px 74px;
    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(1.25);
    }
  }
}

.slider {
  position: relative;
  /* Стрелка */
  & .slick-arrow {
  }
  /* Стрелка влево */
  &.slick-arrow.slick-prev {
  }
  /* Стрелка вправо */
  & .slick-arrow.slick-next {
    width: 150px;
  }
}

/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
}
/* Лента слайдов */
.slick-track {
}

/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}
