.btn {
  border: none;
  border-radius: 25px;

  //   @include centeredFlex();
  margin-left: auto;
  margin-right: auto;
  background-color: $secondaryTextColor;

  cursor: pointer;
  text-transform: uppercase;
  transition: transform 250ms $timingFunction;
  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}
