body {
  font-family: 'Montserrat', sans-serif;
  color: $primaryTextColor;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  letter-spacing: 0.03em;
  line-height: 1.1;

  // max-width: 480px;
}

// body.modal-open {
//   overflow: hidden;
// }

img {
  display: block;
  // width: 100%;

  max-width: 100%;
  height: auto;
}

/* відміняємо маркер списку */
.list {
  list-style: none;
}

/* відміняємо підкреслення посилань */
.link-style {
  text-decoration: none;
}

/* стилі для контейнерів */

.container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media screen and (max-width: 1199px) {
    max-width: 370px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

/* Скидаю глобально зовнішні відступи  */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.hidden {
  position: absolute;

  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.heading-primary {
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: $headingColor;

  &.lighter {
    color: $secondaryTextColor;
  }
}
